/project/cache/
/project/.stage/
/project/.build/
/project/chroot/
/project/binary/
/project/bootstrap/
/project/log/
/project/build.log
/project/live-image-*.iso
/project/*.iso

/out/*.iso

*.swp
*.swo
*~
*.bak
.DS_Store
Thumbs.db

**/.dockerignore
docker-compose.override.yml

.vscode/
.idea/
*.code-workspace
*.log

